<div class="flex min-h-screen flex-col justify-center px-6 py-12 bg-yellow-50">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">
    <!-- Added flex and items-center -->
    <div class="bg-black p-4 rotate-2 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]">
      <app-logo />
    </div>
    <h2
      class="mt-10 text-center text-3xl font-bold text-black transform -rotate-1"
    >
      {{ title }}
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <ng-content></ng-content>
  </div>
</div>
