@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer root {
  :root {
    --font-sans: "Space Grotesk", system-ui, sans-serif;
    --font-sans-heading: "Protest Riot", system-ui, sans-serif;
  }
}

@layer base {
  html {
    background-color: #ffffff;
  }

  html,
  body {
    height: 100%;
  }

  body {
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans-heading);
  }
}
