@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #ffffff;
  }

  html,
  body {
    height: 100%;
  }

  body {
    font-family: var(--font-sans);
  }
}
