<app-auth-layout title="Sign in to your account">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <ng-container *ngFor="let field of loginFields">
      <app-form-input
        [config]="field"
        [control]="$any(loginForm.get(field.id))"
        [form]="loginForm"
      />
    </ng-container>

    <div *ngIf="errorMessage" class="text-sm text-red-600">
      {{ errorMessage }}
    </div>

    <app-form-button [disabled]="loginForm.invalid"> Sign in </app-form-button>
  </form>

  <p class="mt-10 text-center text-sm/6 text-gray-500">
    Don't have an account?
    <a
      routerLink="/auth/register"
      class="font-semibold text-indigo-600 hover:text-indigo-500"
    >
      Register
    </a>
  </p>
</app-auth-layout>
