<app-auth-layout title="Create your account">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-8">
    <ng-container *ngFor="let field of registerFields">
      <app-form-input
        [config]="field"
        [control]="$any(registerForm.get(field.id))"
        [form]="registerForm"
      />
    </ng-container>

    <div *ngIf="errorMessage" class="text-sm text-red-600">
      {{ errorMessage }}
    </div>

    <app-form-button [disabled]="registerForm.invalid">
      Register
    </app-form-button>
  </form>

  <p class="mt-10 text-center font-bold">
    Already have an account?
    <a routerLink="/auth/login" class="text-black">Sign in</a>
  </p>
</app-auth-layout>
